* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-size: 15pt;
  color: darkcyan;
}

body {
  background-color: #d3d3d3;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 23pt;
}

.white-text {
  color: white;
}

.section {
  padding: 2vh 5vw;
}

.round-border {
  border-radius: 5pt;
}

.product-carousel {
  /* background-color: white; */
  /* padding: 5px; */
  border: 0;
  line-height: 0.5;
}

.toy-card {
  height: 300px;
  background-color: darkcyan;
  display: inline-block;
  width: 200px;
  margin: 5pt;
  border: 0;
  border-radius: 5pt;
  overflow: hidden;
  line-height: 1.1;
  cursor: pointer;
}

.toy-card:hover {
  background-color: tomato;
  transition: 0.5s;
}

.card-img-container {
  width: 200px;
  display: inline-block;
  background-color: darkcyan;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.card-img-container > img {
  width: 200px;
  margin: auto 0;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
}

.tag {
  display: inline-block;
  background-color: white;
  border-radius: 5pt;
  line-height: 1.1;
  margin-left: 5pt;
  padding: 3pt 2pt;
}

.card-info-div {
  padding: 5pt;
}

.deleted {
  text-decoration: line-through;
}
